pandas
matplotlib
numpy
PyPDF2
spacy
streamlit
openpyxl
docx2txt
openai
streamlit-folium
streamlit-autorefresh
folium
matplotlib
joblib
scikit-learn
requests
httpx
groq
openai
shap
xgboost
geopy 
